.catalog {
  &__auction {
    padding-bottom: 45px;
  }
  border-top: 4px solid #f4f4f4;
  border-bottom: 4px solid #f4f4f4;
  padding: 20px 0;
  &__heading {
    margin-bottom: 35px;
  }
  &__title {
    color: #4e4e4e;
    font-size: 24px;
    margin: 0;
  }
  &__time {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #4e4e4e;
    &--quantity {
      font-family: 'Ubuntu', sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: #f0b500;
    }
  }
  &__item {
    margin-bottom: 40px;
    &:after {
      content: "";
      position: absolute;
      width: 94%;
      left: 2%;
      bottom: -10px;
      border-bottom: 1px solid #ebebeb;
    }
  }
  &__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #000000;
    margin: 0;
    &--more {
      font-size: 33px;
      color: #f0b500;
      line-height: 5px;
    }
  }

  &__icon {
    width: 21px;
    height: 20px;
    & path {
      fill: #7e7e7e;
    }
  }
  &__subtitle {
    margin: 0;
  }
  &__inner {

    padding: 7px 15px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #000000;
    border: none;
    margin: 0 1px;
    padding: 0 7px;
    &:hover {
      text-decoration: none;
      color: #ffc001;
    }

    &--active {
      font-weight: 700;
      border: 1.0px solid #ffcf01;
      border-radius: 3.0px
    }
    &--button {
      font-size: 13.9px;
      font-weight: 400;
      text-decoration: underline;
    }
    &--pre {
      position: relative;
      &:before {
        content: "\003C";
        position: absolute;
        top: 0;
        left: -5px;
      }
    }
    &--next {
      position: relative;
      &:before {
        content: "\003E";
        position: absolute;
        top: 0;
        right: -5px;
      }
    }
  }
  &__page--prev {
    margin: 0 auto 0 0;
  }
  &__page--next{
    margin: 0 0 0 auto;
  }
  &__model {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #4e4e4e;
    margin-bottom: 35px;
    display: block;
  }

  &__box {

    &--item {
      background-color: #ffffff;
      border: 2.0px solid #ebebeb;
      border-radius: 2.0px;
      width: 184px;
      text-align: center;
      margin-bottom: 10px;
    }
    &--link {
      font-family: 'Ubuntu', sans-serif;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: #4e4e4e;
      &:hover {
        text-decoration: none;
        color: #ffc001;
      }
    }
  }
  &__hide {
    position: relative;
    &:after {
      content: "\003E";
      position: absolute;
      top: -3px;
      right: -5px;
      transform: rotate(-90deg)
    }
  }
  &__image {
    width: 100%;
    position: relative;
  }
  &__top {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    top: 15px;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.41);
    background-color: #ffcf01;
    padding: 2px 13px;
    &--bold {
      font-weight: 700;
    }
  }
  &__circle {
    font-size: 26px;
    vertical-align: sub;
  }
  &__wrap{
    margin: 0 auto;
  }
}